[submodule "wikidata"]
	path = wikidata
	url = https://github.com/mambrus/tcp_tap.wiki.git
[submodule "wiki"]
	path = wiki
	url = https://github.com/helsinova/wiki-wrapper.git
[submodule "cmake"]
	path = cmake
	url = https://github.com/helsinova/xcmake.git
	branch = master
