[submodule "wikidata"]
	path = wikidata
	url = https://github.com/mambrus/tcp_tap.wiki.git
[submodule "wiki"]
	path = wiki
	url = https://github.com/helsinova/wiki-wrapper.git
[submodule "cmake"]
	path = cmake
	url = https://github.com/helsinova/xcmake.git
	branch = master
[submodule "lib/mqueue"]
	path = lib/mqueue
	url = https://github.com/mambrus/clib-mqueue.git
[submodule "lib/log"]
	path = lib/log
	url = https://github.com/mambrus/liblog.git
[submodule "examples/cmake"]
	path = examples/cmake
	url = https://github.com/helsinova/xcmake.git
	branch = master
